.container{
    margin: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./images/img-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.user-side-bottom{
    margin-left: 74%;
}

.user-side-bottom input{
    border: 2px solid blue;
    border-radius: 5%;
    background-color: blue;
    color: white;
    font-size: 15px;
}

.properties-list-body{
    margin: 0px;
    background-color: whitesmoke;
}

header{
    position: relative;
}

.nav-container{
    margin-bottom: 3%;
    padding: 30px;
    background-color: black;
    opacity: 75%;
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.nav-bar-wrapper{
    margin-left: 20px;
    grid-column-start: 2;
    grid-column-end: 10;
    margin-left: 8%;
    width: 90%;
    height: 15%;
    padding: 20px;
}

.top-nav-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.navigators-top{
    margin-left: 10%;
    margin-top: 3%;
}

.navigators-top a{
    margin-left: 2%;
    margin-right: 5%;
    text-decoration: none;
    color: white;
}

.navigators-top a:hover{
    color: limegreen;
}

.navigators-bottom{
    margin-left: 10%;
}

.navigators-bottom a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.navigators-bottom a:hover{
    color: limegreen;
}

.bottom-nav-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-side-top{
    margin-top: 3%;
    margin-left: 74%;
}

.user-side-top a{
    text-decoration: none;
    color: white;
}

.user-side-top a:hover{
    color: limegreen;
}

hr{
    margin: 1% 0% 1% 6%;
    width: 92%;
    background-color: dimgray;
}

.user-side-bottom{
    margin-top: -8%;
    margin-left: 86%;
    position: absolute;
    z-index: 2;
}


.user-side-bottom button{
    width: 100%;
    border: 2px solid blue;
    margin-right: -100%;
    border-radius: 5%;
    background-color: blue;
    color: white;
    font-size: 15px;
}

.logo{
    background-color: black;
    margin-top: 4.5%;
    margin-left: 7%;
    padding-top: 1%;
    width: 12%;
    height: 70px;
    font-size: 90%;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
}

.logo a{
    text-decoration: none;
    color: white;
}

/*login styling */
.info-taker-login{
    margin-top: 6%;
    width: 100%;
    height: 420px;
    position: relative;
}

.inquary-login{
    position: relative;
    width: 65%;
    height: 210px;
    padding: 5% 3% 3% 3%;
    background-color: black;
    opacity: 70%;
    color: white;
    margin: auto;
    border: 1px solid lightgray;
    z-index: 0;
}

.login-intro-txt{
    font-size: 14px;
    line-height: 20px;
}

.register-btn{
    margin-top: -10%;
    margin-left: 17%;
    background-color: black;
    border: 2px solid white;
    padding: .3%;
    opacity: inherit;
    width: 13%;
    border-radius: 10%;
    position: absolute;
    z-index: 2;
}

.register-btn a{
    padding: 1.5%;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.form-login{
    padding: 3%;
    width: 32%;
    height: 385px;
    background-color: white;
    position: absolute;
    top: -9%; 
    left:50%;
    box-sizing: border-box;
}

.login{
    color:darkslategray;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

#country-code-login{
    width: 20%;
    padding: 1.5%;
    /* margin-right: -1px; */
    border: 1px solid darkslategray;
    background-color:darkslategray;
    color: white;
}

#num-login{
    margin-left: -5px;
    padding: 1.8%;
    width: 70.5%;
    border: 1px solid gray;
    background-color: lightgray;
}

.password-login{
    width: 90%;
    padding: 2%;
    border: 1px solid gray;
    background-color: lightgray;
    color: gray;
}

.forget-password-login{
    margin-top: 10px;
    margin-left: 59%;
    font-size: 13px;
    color: lightslategray;
    text-decoration: none;
}

.login-btn-1{
    margin-left: 39%;
    width: 56%;
    padding: 1.5%;
    background-color: darkslategrey;
    border: 2px solid darkslategray;
    border-radius: 5%;
    color: white;
    font-size: 15px;
}

.login-icon{
    font-size: 13px;
    color: lightslategray;
}

/* register styling */

.info-taker-register{
    margin-top: 6%;
    width: 100%;
    height: 420px;
    position: relative;
    box-sizing: border-box;
}

.register{
    color:darkslategray;
    font-size: 22px;
}

.inquary-register{
    width: 25%;
    height: 210px;
    padding: 5% 2% 3% 43%;
    background-color: black;
    opacity: 70%;
    color: white;
    margin: auto;
    border: 1px solid lightgray;
    position: relative;
    z-index: 0;
}

.login-btn-2{
    margin-top: -9%;
    margin-left: 58%;
    background-color: black;
    border: 2px solid white;
    padding: .5%;
    width: 15%;
    border-radius: 10%;
    position: absolute;
    z-index: 2;
}

.login-btn-2 a{
    padding: 1.5%;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.form-register{
    padding: 3%;
    width: 25%;
    height: 320px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: -12%;
    left: 18%;
}

#country-code-register{
    width: 20%;
    padding: 1.8%;
    /* margin-right: -1px; */
    border: 1px solid darkslategray;
    background-color:darkslategray;
    color: white;
}

#num-register{
    margin-left: -5px;
    padding: 2%;
    width: 72%;
    border: 1px solid gray;
    background-color: lightgray;
}

.password-register{
    width: 92%;
    padding: 2%;
    border: 1px solid gray;
    background-color: lightgray;
}

.forget-password-register{
    margin-top: 10px;
    margin-left: 62%;
    font-size: 13px;
    color: lightslategray;
    text-decoration: none;
}

.registration-btn{
    margin-left: 47%;
    width: 50%;
    background-color: darkslategrey;
    border: 2px solid darkslategray;
    border-radius: 5%;
    color: white;
    font-size: 15px;
}

.label-register-checkbox{
    font-size: 12px;
    width: 100%;
    margin-left: 38%;
    color: lightslategray;
}

.register-icon{
    font-size: 13px;
    color: lightslategray;
}

/* properties-list styling*/

.houses-nav{
    margin-bottom: 2%;
    width: 97%;
    padding: 18px;
    background-color: black;
    opacity: 75%;
    display: grid;
    grid-template-columns: 10% 70%;
}

.top-nav-items{
    width: 100%;
}

.houses-container{
    top: -50px;
    height: 1000px;
    background-color: whitesmoke;
}

.grids-section{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: .27fr 1fr 0.3fr;
    grid-gap: 20px;
}

.grid-search{
    padding-left: 4%;
    padding-bottom: 10%;
    grid-row-end: 9;
    height: 460px;
    background-color: lightgray;
}

.search-txt{
    color:gray;
    font-size: 18px;
}

.search-input-area{
    width: 91%;
    height: 4.5%;
    color:white;
    font-size: 15px;
    background: darkslategray;
    border: 1px solid darkslategray;
}

.search-input{
    margin-top: 2%;
    width: 80%;
    height: 4.5%;
}

.grid-search select{
    background-color: grey;
    color: white;
    margin-left: -2.5%;
    height: 5.9%;
}

.grid-search label{
    color: grey;
    font-size: 14px;
}

#range{
    width: 92%;
    height: .3%;
    background-color: green;
}


.done-btn{
    width: 92%;
    height: 7%;
    color: white;
    border: 1px solid gray;
    background-color: grey;
    border-radius: 7%;
}

.grid-head{
    grid-column-start: 2;
    grid-column-end: 4;
    height: 70px;
    background-color:lightgray;
    box-sizing: border-box;
}

.sub-div-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.sub-div-wrapper div a{
    text-decoration: none;
    margin-right: 10px;
    color: gray;
    font-size: 18px;
}

.sub-div-wrapper div a:hover{
    text-decoration: underline;
    color: black;
}

.sub-div-wrapper label{
    color: gray;
}

.sub-div-wrapper div input{
    margin-left: 1.5%;
    font-size: 10px;
    width: 50%;
    padding-top: 1%;
}

.sub-div-wrapper div select{
    margin-left: -5px;
    color: white;
    background-color: gray;
}

.sub-bar-icon{
    width: 20%;
    height: 20%;
    background-image: url(./images/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-nav-right{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.sub-nav-icons{
    display: flex;
    width: 40%;
}
.icon-1{
    margin-right: 10%;
    background-image: url(./images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
}

.icon-2{
    background-image: url(./images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
}

.grid-items-wrapper-1{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 20;
    height: 800px;
    box-sizing: border-box;
}

.property-img{
    background-image: url("./images/img-4.jpg");
    background-size: cover;
    height: 450px;
}

.left-and-rigt-arrow{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 68px;
}

.left-arrow{
    margin-top: 220px;
    background-color: black;
    opacity: 75%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

.right-arrow{
    margin-top: 220px;
    background-color: black;
    opacity: 75%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

.property-sub-img{
    margin-bottom: -100px;
    width: 99%;
    height: 85px;
    background-color: black;
    opacity: 72%;
    position: relative;
    padding: 3px;
}

.property-sub-img-left-and-rigt-arrow{
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
}

.property-sub-img-left-arrow{
    top: 22px;
    font-size: 20px;
    width: 50px;
    height: 60px;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

.property-sub-img-right-arrow{
    top: 22px;
    right: -60px;
    font-size: 20px;
    width: 50px;
    height: 60px;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

.property-sub-imgs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: inherit;
}

.property-sub-img-1{
    background-image: url(./images/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 74px;
}

.property-sub-img-2{
    background-image: url(./images/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 74px;
}

.property-sub-img-3{
    background-image: url(./images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 74px;
}

.property-sub-img-4{
    background-image: url(./images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 74px;
}

.property-sub-img-5{
    background-image: url(./images/img-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 74px;
}

/* grid-adv styling */
.grid-adv{
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 14;
    height: 700px;
    background-color: white;
    text-align: center;
}

.grid-adv h3{
    margin-top: 325px;
    color: lightslategray;
}

.grid-items-wrapper-2{
    grid-column-start: 2;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 20;
    height: 800px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.txt-and-btn{
    padding: 2%;
}

.txt-and-btn p{
   color: lightslategray;
}

.first-p-1{
    font-size: 18px;
}

.second-p2{
    font-size: 12px;
}

.img-txt-col{
    border: 1px solid lightgrey;
    background-color: white;
    margin-bottom: 2%;
    box-sizing: border-box;
    height: 294px;
}

.img-1-col-1{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-2-col-2{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-3-col-3{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-4-col-4{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-5-col-5{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-6-col-6{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-7-col-7{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-8-col-8{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.img-9-col-9{
    width: 100%;
    height: 150px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
}

.properties-four-btns{
    width: 100%;
    padding-right: 2%;
}

.properties-four-btns button{
    color: black;
    width: 25%;
    border: 1px solid lightgrey;
    background-color: white;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 28px;
    box-sizing: border-box;
}

.first-btn{
    margin-left: -2%;
    margin-bottom: -10%;
    width: 27%;
}

.second-btn{
    margin-left: -2%;
    margin-bottom: -10%;
    width: 27%;
    border-left: 1px solid lightgray;
}

.third-btn{
    margin-left: -2%;
    margin-bottom: -10%;
    width: 27%;
    border-left: 1px solid lightgray;
}

.fourth-btn{
    margin-left: -2%;
    margin-bottom: -10%;
    width: 27%;
    border-left: 1px solid lightgray;
}

.prize-btn input{
    background-color: lightgreen;
    border: 1px solid lightgreen;
    margin-top: 56%;
    margin-right: -.5%;
    color: white;
    font-size: 15px;
}

#load-more-properties-list{
    margin-top: 4%;
    margin-left: 43%;
    width: 15%;
    padding: .5%;
    border: 1px solid lightslategray;
    color: white;
    font-size: 16px;
    background-color: lightslategray;
    border-radius: 10%;
}

.footer-container-properties-list{
    margin-bottom: 0px;
    width: 100%;
    height: 350px;
    background-color: gray;
    opacity: 75%;
}

.footer-grid-container-properties-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

/* property styling */

.property-grids-section{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.4fr;
    grid-gap: 20px;
}

.grid-search{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 8;
    height: 450px;
    background-color: lightgray;
}


.search-items p{
    font-size: 16px;
}

.search-items label{
    font-size: 12px;
}

.done-btn{
    text-align: center;
}

.done-btn input{
    width: 100%;
    padding: 2%;
    border: 1px solid lightslategray;
    color: white;
    font-size: 16px;
    background-color: lightslategray;
    border-radius: 10%;
}

#load-more-properties-grid{
    margin-top: 8%;
    margin-left: 43%;
    width: 12%;
    padding: .5%;
    border: 1px solid lightslategray;
    color: white;
    font-size: 16px;
    background-color: lightslategray;
    border-radius: 10%;
}
.search{
    width: 90%;
    padding: 2%;
    background-color:darkgray;
    color: white;
    border: 1px solid gray;
}

.category{
    padding: 2%;
    width: 80%;
}

.grid-items-wrapper-1{
    grid-column-start: 2;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 20;
    height: 800px;
    box-sizing: border-box;
    margin-bottom: 500px;
}

.img-and-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}

.img-1{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-2{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-3{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-4{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-5{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-6{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-7{
    width: 30%;
    height: 110px;
    background-color: lightcoral;
    background-image: url(../RWD-PROJECT/images/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.txt{
    width: 70%;
    height: 110px;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
}

.subtxt-and-btn{
    display: flex;
    justify-content: space-around;
    margin-bottom: 18px;
}

.btn input{
    background-color: lightgreen;
    border: 1px solid lightgreen;
    margin-top: 3%;
    color: white;
    font-size: 15px;
}

.four-btns{
    margin: auto;
    width: 78%;
}

.four-btns input{
    color: black;
    width: 25%;
    background-color: white;
    border: 1px solid lightgray;
    margin-left: -6px;
    padding: 2%;
}

.four-btns input:hover{
    padding: 2%;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.apaerment-talk{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.apartment-talk-p{
    color: lightslategray;
}

.apartment-talk-p1{
    font-size: 25px;
}

.apartment-talk-p{
    font-size: 12px;
    width: 100%;
}

.apartment-prize-btn input{
    background-color: lightgreen;
    border: 1px solid lightgreen;
    margin-top: 50%;
    color: white;
    padding: 12%;
    margin-right: 30px;
}

.call{
    width: 35%;
    margin-right: 50px;
    background-color: gray;
    color: white;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 10%;
    font-size: 15px;
}

.send-message{
    width: 35%;
    background-color: gray;
    color: white;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 10%;
    font-size: 15px;
}

.property-discription-p1{
    color: gray;
    font-size: 15px;
}

.property-discription-p2{
    color: gray;
    font-size: 13px;
}

.available-amenities{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.map-img{
    background-image: url(./images/img-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    box-sizing: border-box;
}

.property-four-btns button{ 
    border: 1px solid lightslategray;
}

.property-grid-adv{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 14;
    height: 700px;
    background-color: white;
    text-align: center;
}

.property-grid-adv h3{
    margin-top: 325px;
    color: lightslategray;
}
/* property footer */
.footer-container-property{
    margin-top: -220px;
    width: 100%;
    height: 350px;
    background-color: gray;
    opacity: 75%;
}

.footer-grid-container-property{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}
/* properties-grid list footer */
.footer-container-properties-grid{
    margin-top: 85px;
    width: 100%;
    height: 350px;
    background-color: gray;
    opacity: 75%;
}

.footer-grid-container-properties-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}


/* footer style */

.footer-container-properties-list{
    margin-top: -14%;
    width: 100%;
    height: 350px;
    background-color: gray;
    opacity: 75%;
}

.footer-container-properties-list{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.contacts{ 
    margin:auto;
    width: 70%;
    height: 250px;
    color: white;
    margin-left: 50px;
}

.quick-links{
    margin-top: auto auto auto 30px;
    width: 90%;
    height: 250px;
    color: white;
}

.recent-posts{
    margin-top: 20px;
    width: 90%;
    height: 250px;
    color: white;
}

.rights-footer{
    width: 100%
}

.footer-hr{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-left: -5px;
    background-color: white;
}

.copy-rights{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.copy-right-detials{
    margin-left: 6px;
    width: 98%;
    height: 50px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.copy-right-brand{
    margin-right: 50px;
    width: 70%;
    height: 50px;
    text-align: end;
    box-sizing: border-box;
    padding-top: 16px;
    padding-right: 26px;
}

.copy-right-brand a{
    margin: auto;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.footer-p1{
    font-size: 20px;
    color: white;
}