/* .grid-items-wrapper-2{
    grid-column-start: 2;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 20;
    height: 800px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.img-txt-col{
    border: 1px solid lightgrey;
    background-color: white;
    margin-bottom: 2%;
    box-sizing: border-box;
    height: 294px;
} */